In [419]:
%run functions.ipynb

In [420]:
logs = pd.read_csv('File/logs-66769.csv', parse_dates = ["timecreated"])
role = pd.read_csv('File/roles-66769.csv')
dt = pd.merge(logs, role, on='userid')
dt = dt[dt['role'] == 'student']

In [112]:
dt.head(5)

,Unnamed: 0,id,eventname,component,action,target,objecttable,objectid,crud,edulevel,...,userid,courseid,relateduserid,anonymous,other,timecreated,origin,ip,realuserid,role
20781,1051,1260188793,\core\event\course_viewed,core,viewed,course,NaN,NaN,r,2,...,269997,66769,NaN,0,"a:1:{s:19:""coursesectionnumber"";i:-1;}",2019-02-09 03:28:20,web,177.45.237.48,NaN,student
20782,1053,1260188795,\core\event\course_viewed,core,viewed,course,NaN,NaN,r,2,...,269997,66769,NaN,0,"a:1:{s:19:""coursesectionnumber"";i:1;}",2019-02-09 03:28:24,web,177.45.237.48,NaN,student
20783,1056,1260188849,\core\event\course_viewed,core,viewed,course,NaN,NaN,r,2,...,269997,66769,NaN,0,N;,2019-02-09 03:28:35,web,177.45.237.48,NaN,student
20784,1067,1260282509,\core\event\course_viewed,core,viewed,course,NaN,NaN,r,2,...,269997,66769,NaN,0,"a:1:{s:19:""coursesectionnumber"";i:-1;}",2019-02-11 01:21:30,web,187.101.88.70,NaN,student
20785,1068,1260282513,\core\event\course_viewed,core,viewed,course,NaN,NaN,r,2,...,269997,66769,NaN,0,"a:1:{s:19:""coursesectionnumber"";i:4;}",2019-02-11 01:21:35,web,187.101.88.70,NaN,student

In [421]:
dt['action'].count()/(len(dt['userid'].value_counts()))

810.3105590062112

In [422]:
componente = dt['component'].unique()
action = dt['action'].unique()
student = dt['userid'].unique()

action

array(['viewed', 'started', 'answered', 'resumed', 'ended', 'graded',
       'submitted', 'reviewed', 'saved', 'updated', 'uploaded', 'created',
       'accepted', 'student', 'deleted', 'restarted', 'searched',
       'assessed', 'duplicated'], dtype=object)

In [444]:
def cont(gd, student, action, component):
    return len(gd.loc[pd.IndexSlice[(student, action, component)]])

aluno = []
acao = []
alvo = []
compo = []
g = dt.set_index(['userid', 'action', 'component'])
g = g.sort_index()
y = pd.DataFrame()
for s in student[:2]:
    for a in action:
        for c in componente:
            acao.append(a)
            compo.append(c)
            aluno.append(s)
            if ((a,c) in g.loc[s].index.values.tolist()) == True:
                alvo.append(cont(g, s, a, c))
            else: alvo.append(0)
teste = pd.DataFrame({'AÃ§Ã£o': acao, 'Contado': alvo}, index = [aluno, compo])
teste
df2 = teste.sort_index()
df2

                                        AÃ§Ã£o  Contado
269997 assignsubmission_comments      viewed        0
       assignsubmission_comments     started        0
       assignsubmission_comments    answered        0
       assignsubmission_comments     resumed        0
       assignsubmission_comments       ended        0
       assignsubmission_comments      graded        0
       assignsubmission_comments   submitted        0
       assignsubmission_comments    reviewed        0
       assignsubmission_comments       saved        0
       assignsubmission_comments     updated        0
       assignsubmission_comments    uploaded        0
       assignsubmission_comments     created        0
       assignsubmission_comments    accepted        0
       assignsubmission_comments     student        0
       assignsubmission_comments     deleted        0
       assignsubmission_comments   restarted        0
       assignsubmission_comments    searched        0
       assignsubmission_comments    assessed        0
       assignsubmission_comments  duplicated        0
       assignsubmission_file          viewed        0
       assignsubmission_file         started        0
       assignsubmission_file        answered        0
       assignsubmission_file         resumed        0
       assignsubmission_file           ended        0
       assignsubmission_file          graded        0
       assignsubmission_file       submitted        0
       assignsubmission_file        reviewed        0
       assignsubmission_file           saved        0
       assignsubmission_file         updated        0
       assignsubmission_file        uploaded        2
...                                      ...      ...
270039 report_outline                  saved        0
       report_outline                updated        0
       report_outline               uploaded        0
       report_outline                created        0
       report_outline               accepted        0
       report_outline                student        0
       report_outline                deleted        0
       report_outline              restarted        0
       report_outline               searched        0
       report_outline               assessed        0
       report_outline             duplicated        0
       tool_usertours                 viewed        0
       tool_usertours                started        0
       tool_usertours               answered        0
       tool_usertours                resumed        0
       tool_usertours                  ended        0
       tool_usertours                 graded        0
       tool_usertours              submitted        0
       tool_usertours               reviewed        0
       tool_usertours                  saved        0
       tool_usertours                updated        0
       tool_usertours               uploaded        0
       tool_usertours                created        0
       tool_usertours               accepted        0
       tool_usertours                student        0
       tool_usertours                deleted        0
       tool_usertours              restarted        0
       tool_usertours               searched        0
       tool_usertours               assessed        0
       tool_usertours             duplicated        0

[646 rows x 2 columns]

In [447]:
df2.loc[(269997,'mod_quiz')]

                       AÃ§Ã£o  Contado
269997 mod_quiz      viewed      366
       mod_quiz     started       36
       mod_quiz    answered        0
       mod_quiz     resumed        0
       mod_quiz       ended        0
       mod_quiz      graded        0
       mod_quiz   submitted       36
       mod_quiz    reviewed       47
       mod_quiz       saved        0
       mod_quiz     updated        0
       mod_quiz    uploaded        0
       mod_quiz     created        0
       mod_quiz    accepted        0
       mod_quiz     student        0
       mod_quiz     deleted        0
       mod_quiz   restarted        0
       mod_quiz    searched        0
       mod_quiz    assessed        0
       mod_quiz  duplicated        0

In [384]:
conta = Statistic(dt)
conta.acao_aluno(269997, 'viewed')

863

In [442]:
teste[teste['AÃ§Ã£o'] == 'viewed']

                                      AÃ§Ã£o  Contado
269997 core                         viewed      325
       mod_resource                 viewed       38
       mod_assign                   viewed       17
       mod_lesson                   viewed       38
       gradereport_user             viewed        9
       mod_quiz                     viewed      366
       mod_questionnaire            viewed       35
       assignsubmission_file        viewed        0
       assignsubmission_onlinetext  viewed        0
       mod_attendance               viewed        0
       mod_workshop                 viewed       16
       mod_hvp                      viewed       19
       assignsubmission_comments    viewed        0
       mod_forum                    viewed        0
       gradereport_overview         viewed        0
       report_outline               viewed        0
       tool_usertours               viewed        0
270039 core                         viewed      301
       mod_resource                 viewed       35
       mod_assign                   viewed       22
       mod_lesson                   viewed       34
       gradereport_user             viewed        4
       mod_quiz                     viewed      443
       mod_questionnaire            viewed       28
       assignsubmission_file        viewed        0
       assignsubmission_onlinetext  viewed        0
       mod_attendance               viewed        0
       mod_workshop                 viewed       25
       mod_hvp                      viewed       30
       assignsubmission_comments    viewed        0
       mod_forum                    viewed        0
       gradereport_overview         viewed        0
       report_outline               viewed        0
       tool_usertours               viewed        0

In [448]:
sns.barplot(data=teste[teste['AÃ§Ã£o'] == 'viewed'], x = 'Contado', y = teste.index.get_level_values(1))

ValueError: Grouper and axis must be same length